html
    head
        title ToDo Application
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
    body
        div(class="d-flex flex-column h-100 w-100 justify-content-center align-items-center")
            div(class="")
                if(message)
                    h4 #{message}
            div(class="")
                a(href="/signup" class="btn btn-default" role="button") Sign Up?
                a(href="/login" class="btn btn-default" role="button") Log in?
            div(class="")
                if(type == "login")
                    form(action = "/login" method = "POST")
                        div
                            label(for="id") User Name:
                            input(name = "id" type = "text" class="form-control" required placeholder = "User Name")
                        div
                            label(for="password") Password:
                            input(name = "password" type = "password" class="form-control" required placeholder = "Password")
                        br
                        button(type = "Submit" class="btn") Log in
                if(type == "signup") 
                    form(action = "/signup" method = "POST")
                        div
                            label(for="username") User Name:
                            input(name = "id" type = "text" class="form-control" required placeholder = "User Name")
                        div
                            label(for="email") Email:
                            input(name = "email" type = "email" class="form-control" required placeholder = "Email@example.com")
                        div
                            label(for="password") Password:
                            input(name = "password" type = "password" class="form-control" required placeholder = "Password")
                        div
                            label(for="confirmPassword") Retype Password:
                            input(name = "confirmPassword" type = "password" class="form-control" required placeholder = "Retype Password")
                        br
                        button(type = "Submit" class="btn") Sign me up!