.flex-container {
    display: flex;
    flex-wrap: wrap;
    border: 10px solid grey;
}

.flex-container>div.card {
    background-color: #f1f1f1;
    width: 400px;
    margin: 10px;
    padding: 30px;
    height: fit-content;
}

.center {
    margin: auto;
    display: block;
    margin: auto;
}