.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.width400 {
    width: 400px;
}

.box {
    display: flex;
    height: 100%;
    width: 100%;
    margin: -10px;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.autoflex {
    flex: auto;
}

.border10{
    border: 10px solid grey;
}